/* Frame 1 */

body
{
position: absolute;
width: 393px;
height: 67px;
left: 0px;
top: 0px;

background: #FDFEFF;

}
/* Rectangle 1 */


position: absolute;
width: 393px;
height: 214px;
left: 0px;
top: 67px;

background: #D9D9D9;


/* gym8pic testing 1 */


position: absolute;
width: 393px;
height: 232px;
left: 0px;
top: 364px;

background: url(gym8pic testing.jpg);


/* Rectangle 4 */


position: absolute;
width: 140px;
height: 44px;
left: 126px;
top: 750px;

background: #00A3FF;
border-radius: 5px;


/* View arenas for all workout forms */


position: absolute;
width: 316px;
height: 24px;
left: 35px;
top: 328px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Athletic */


position: absolute;
width: 93px;
height: 30px;
left: 146px;
top: 603px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
/* identical to box height */


color: #000000;



/* Sign in */


position: absolute;
width: 65px;
height: 24px;
left: 163px;
top: 760px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #FFFEFE;



/* A small description about what an athlete’s workout is and details on why do this */


position: absolute;
width: 273px;
height: 21px;
left: 62px;
top: 636px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 100%;
/* or 13px */

display: flex;
align-items: center;
text-align: center;

color: #666666;



/* Rectangle 33 */


position: absolute;
width: 43px;
height: 852px;
left: 19px;
top: 0px;

background: rgba(217, 217, 217, 0.3);


/* Rectangle 89 */


position: absolute;
width: 18px;
height: 17px;
left: 303px;
top: 645px;

background: rgba(255, 255, 255, 0.6);
filter: blur(3px);


/* View more */


position: absolute;
width: 64px;
height: 13px;
left: 321px;
top: 647px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;

color: #00A3FF;



/* Screenshot_2022-02-19-19-41-35-97_c0d35d5c8ea536686f7fb1c9f2f8f274 1 */


position: absolute;
width: 393px;
height: 215px;

background: url(src/images/Screenshot_2022-02-19-19-41-35-97_c0d35d5c8ea536686f7fb1c9f2f8f274 1.png);


/* Rectangle 35 */


position: absolute;
width: 43px;
height: 852px;

background: rgba(217, 217, 217, 0.3);